
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #13ec49;
  --color-background: #050d05;
  --color-card: #0d1a0d;


  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
  body {
    background-color: #050d05;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}